<div class="hero-unit">
<H2>'Hello, world' </H2>
<p>
Vous pouvez aussi consulter une page au <a href=http://fr.wikipedia.org/wiki/Sp%C3%A9cial:Page_au_hasard>hasard de wikipédia</a> 
<p> Informations sur ce site disponibles sur la page <a href=/about>'A propos'</a>
</div>
