<span class="btn-primary btn-large disabled"><%=@madate%></span>
<span class="<%= libelle(@tag)%> btn-large disabled"><%=@tag%></span>
<div class="hero-unit">
<p>
<%=@content %>
<p>

</div>
<p>
Vous pouvez aussi consulter une page au <a href=http://fr.wikipedia.org/wiki/Sp%C3%A9cial:Page_au_hasard>hasard de wikip&#233;dia</a><br> 
<p> Informations sur ce site disponibles sur la page <a href=/about>'A propos'</a>
<p> Des videos explicatives sont disponibles sur la page <a href=/videos>'Videos'</a>   
