<div class="hero-unit">
<p>
Cette section liste des vidéos retracant la creation de ce site.
</p>
<table class='table'>
  <thead>
    <tr>
      <th>Nom de la video</th>
      <th>Theme</th>
      <th>Description</th>
      <th>Duree</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href=http://youtu.be/QBnDhbEr0G0>sinatraP1.webm</a></td>
      <td>Sinatra</td>
      <td>Installer Sinatra</td>
      <td>1m25s</td>
    </tr>
    <tr>
      <td><a href=http://youtu.be/VpC1HVN0e3U>sinatra2.webm</a></td>
      <td>Sinatra</td>   
      <td>Premiere application en Sinatra</td>
      <td>4m14s</td>
    </tr>
<tr>
      <td><a href=http://youtu.be/oHqEzLqawAs>sinatra3.webm</a></td>
      <td>Sinatra</td>   
      <td>Les blocs spéciaux Sinatra</td>
      <td>4m58s</td>
    </tr>
<tr>
      <td><a href=http://youtu.be/UqGi-YayNoY>sinatra4.webm</a></td>
      <td>Sinatra</td>   
      <td>Les templates, les répertoires Sinatra</td>
      <td>6m43s</td>
    </tr>
<tr>
      <td><a href=http://youtu.be/zuMVPG8RVh8>herokup1.webm</a></td>
      <td>Cloud Heroku</td>   
      <td>Les prerequis pour publier une application sur le cloud Heroku:Git, ssh-keygen , heroku (partie 1)</td>
      <td>11m45s</td>
    </tr>
<tr>
      <td><a href=http://youtu.be/rrNzgYg9sdM>herokup2.webm</a></td>
      <td>Cloud Heroku</td>   
      <td>Publier une application sur le cloud HEROKU (partie 2 et fin)</td>
      <td>14m36s</td>
</tr>
<tr>
      <td><a href=http://youtu.be/SIBI88p7ZAg>nodeonheroku.webm</a></td>
      <td>Cloud Heroku</td>   
      <td>Publier une application Node.js sur le cloud HEROKU </td>
      <td>13m02s</td>
</tr>

</tbody>
</table>
</span>
